body {
  background-color: #FFF;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  /* text-align: center; */
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0 14vw;
}

.main-body-title {
  color: #19004d;
  text-align: center;
}

@media only screen and (min-width: 1024px) and (max-width: 1400px) {
  .product {
    width: 22vw !important;
  }

  main {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .product>.product-title>h2 {
    font-size: 0.75rem !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .product {
    width: 30vw !important;
  }

  main {
    grid-template-columns: 1fr 1fr;
  }

  .filter-sort {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center !important;
  }

  .header>.nav-links {
    display: none;
  }

  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }

  .header-logo {
    margin-bottom: 0;
  }

  .header .menu-toggle {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .nav-links {
    flex-direction: row;
  }
}

@media only screen and (max-width: 767px) {
  main {
    grid-template-columns: 1fr;
  }

  .product {
    width: 60vw !important;
  }

  .img {
    width: 30vw;
  }

  .product>h2 {
    font-size: 1.1rem;
  }

  .filter-sort {
    flex-direction: column;
    gap: 20px;
  }

  .footer {
    flex-wrap: wrap;
    column-gap: 10vh;
  }

  .footer>p {
    order: 1;
  }

  .footer>h2 {
    margin: 0.5rem 0;
  }
  .header>.nav-links {
    display: none;
  }
  .header {
    padding: 0 4vw !important;
  }
}

/* .img {
  min-width: 100px;
  height: 20vh;
  width: 12vw;
  border-radius: 2rem 2rem 0 0;
} */

.product {
  width: 16.5vw;
  height: 45vh;
  margin: 2rem auto;
  /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); */
  /* Box shadow effect */
  /* border-radius: 2rem; */
  /* padding: 1rem; */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* background-color: #F5F6F6; */
}

.product>.product-title {
  display: flex;
  justify-content: space-between;
  column-gap: 1vw;
  align-items: baseline;
  font-weight: bold;
}

.product>.product-title>h2 {
  height: 30px;
  font-size: 14px;
}

.product>.product-title>p {
  display: flex;
  align-items: baseline
}

.product>.product-img {
  position: relative;
  background-color: #F5F6F6;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.product>.product-img>.img {
  height: 20vh;
  width: 20vh;
}

.product>.product-desc {
  color: #464342;
  font-size: 12px;
}

.product>.div-rating>.rating-count {
  font-size: 12px;
  padding-left: 0.3rem;
}

/* STAR */
/* .div-rating {
  display: flex;
  column-gap: 0.3rem;
  align-items: center;
} */

/* .div-rating>p {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #ebf5dc;
} */

.product>.div-rating>.star-rating {
  margin-top: 5px;
  display: inline-block;
}

.product>.div-rating>.star-rating>.star {
  color: #06AB08;
}

.product>.product-img:hover {
  transition: all 0.2s ease-in;
  box-shadow: 0px 4px 6px 4px rgba(0, 0, 0, 0.2);

}

.product>.product-img>.heart-icon {
  background: white;
  padding: 10px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  z-index: 1;
}

.product>.product-img>.heart-icon:hover {
  color: red;
  cursor: pointer;
}

.product>.product-img>.img:hover {
  transition: all 0.2s ease-in;
  transform: scale(1.1);
  cursor: pointer;
}

.product>h2 {
  height: 50px;
  font-size: 1rem;
  font-weight: 500;
}

.product-btn {
  display: inline;
}

.crossBtn {
  border: none;
  background-color: #f44336;
  color: whitesmoke;
  padding: 3px 7px;
  margin: 5px 0 0 5px;
  font-size: 1rem;
  border-radius: 50%;
  cursor: pointer;
}

.crossBtn:hover {
  background-color: #990000;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.showDetailsBtn {
  cursor: pointer;
  margin: 10px 0;
  border: 1px solid #464342;
  padding: 10px 16px;
  background-color: white;
  border-radius: 2rem;
  font-weight: 600;
  /* color: #F5F2FB; */
}

.showDetailsBtn:hover {
  transition: all 0.2s ease-in;
  background-color: #003D29;
  color: whitesmoke;
  text-shadow: none;
}

.header {
  background-color: #007bff;
  height: 9vh;
  display: flex;
  justify-content: space-between;
  padding: 0 8vw;
  align-items: center;
  color: whitesmoke;
}

.header-logo {
  display: flex;
}

.header>.header-account {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.header>.header-account>div>.font-user {
  font-size: 20px;
}

.header>.header-account>div>.account,
.nav-links>li>a {
  text-decoration: none;
  /* padding: 0 20px; */
  color: whitesmoke;
  font-weight: 500;
}

.header>.header-account>div>.account:hover,
.nav-links>li>a:hover {
  transition: all 0.2s ease-in;
  color: #06AB08;
  cursor: pointer;
  font-weight: 600;
}

.header>.header-account>div>.account {
  padding-left: 12px;
}

.nav-links {
  display: flex;
  column-gap: 3rem;
}

.nav-links>li {
  list-style: none;
}

.logo {
  width: 100px;
}

.header--title {
  color: whitesmoke;
}

.filter-sort {
  display: flex;
  justify-content: space-between;
  column-gap: 2rem;
  align-items: center;
  padding: 0 15vw;

}

.pageError {
  margin: 30vh 0;
  color: #990000;
}

/* Styles for the search input */
.search-input {
  width: 200px;
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
  font-size: 16px;
  background-color: #f0f0f0;
  transition: background-color 0.3s ease;
}

/* Styles for the search input on focus */
.search-input:focus {
  border-color: #007bff;
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.5);
}

/* Additional styles for larger screens */
@media screen and (min-width: 768px) {
  .search-input {
    width: 300px;
  }
}

/* Style for the label */
.filter-container>label,
.sort-container>label {
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
}

/* Style for the select */
.filter-container>select,
.sort-container>select {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  outline: none;
  width: 100%;
  /* max-width: 200px; */
}

/* Style for the option elements */
.filter-container>option,
.sort-container>option {
  font-size: 16px;
  background-color: #fff;
  color: #333;
}

/* Style for the selected option */
.filter-container>option:checked,
.sort-container>option:checked {
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
}

.footer {
  display: flex;
  background-color: #007bff;
  align-items: center;
  justify-content: space-around;
  margin-top: 2rem;
}

.footer>p {
  color: #F4F5F6;
}